build
.bundle
bundle_lib
deps
*.pb.*
.*
*core*
docs/html
docs/xml
docs/latex
docs/_build
*.pyc
*.d

cmake-build-debug/
CMakeFiles/
recommonmark/

test_benchmark
stress_test_benchmark
test
.idea
cmake_build